<div class="content" drag-and-drop>
  <div class="box" drag-item><div class="123">1</div></div>
  <div class="box" drag-item><div class="123">2</div></div>
  <div class="box" drag-item><div class="123">3</div></div>
  <div class="box" drag-item><div class="123">4</div></div>
  <div class="box" drag-item><div class="123">5</div></div>
  <div class="box" drag-item><div class="123">6</div></div>
  <div class="box" drag-item><div class="123">7</div></div>
  <div class="box" drag-item><div class="123">8</div></div>
  <div class="box" drag-item><div class="123">9</div></div>
  <div class="box" drag-item><div class="123">10</div></div>
</div>
<div style="height: 900px; width: 100%; box-sizing: border-box">23</div>
